<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dynamic">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity android:name=".activity.DynamicActivity"
            android:theme="@style/ActivityTheme.ActionBar"
            android:exported="true"/>
        <activity android:name=".activity.DynamicListActivity"
            android:theme="@style/ActivityTheme.ActionBar"
            android:exported="true"/>
    </application>
</manifest>